In [2]:
#set
#union,intersection,difference,symmetric difference
#airthmetic operations
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2)) #will combine both the sets and remove any duplicate value

{1, 2, 3, 4, 5}

In [3]:
print(set1.intersection(set2)) #will give the common element/value

{3}

In [4]:
print(set1.difference(set2)) #will give all the values of the first set after removing the elements that are occuring in set 2

{1, 2}

In [5]:
print(set1.symmetric_difference(set2)) #will give the elements that are not repeated

{1, 2, 4, 5}

In [6]:
#frozen set
frozenset()

frozenset()

In [7]:
#loops(when its required to run the block of code multiple times)
#for loop
#while loop

In [8]:
#for loop
list1=[1,2,3,4]
for i in list1:
  print(i)

1
2
3
4

In [9]:
for i in list1:
  print(2*i)

2
4
6
8

In [10]:
#range(5)......0,1,2,3,4
#range(9)....0,1,2,3,4,5,6,7,8
for i in range(11):
  print(2*i)                              #FOR i in iterable data type:

0
2
4
6
8
10
12
14
16
18
20

In [12]:
fruits=['apple','banana','cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [27]:
#table
for i in range(1,11):
   print(f'5 * {i} =',5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
tuple1=(1,2,3,4,5,6)
for i in tuple1:
  print(i*10)

10
20
30
40
50
60

In [29]:
city='jaipur'
for alphabet in city:
  print(alphabet,end=' ')

j a i p u r

In [30]:
my_dict ={'name':'suraj','city':'jaipur','pincode':302012}
for keys in my_dict:
  print(keys)

name
city
pincode

In [31]:
for values in my_dict.values():
  print(values)

suraj
jaipur
302012

In [32]:
my_dict ={'name':'suraj','city':'jaipur','pincode':302012}
for key,values in my_dict.items():
  print(f"key:{key}, values:{values}")

key:name, values:suraj
key:city, values:jaipur
key:pincode, values:302012